nav{
    width: 100%;
    height: 60px;
    background: rgb(0, 0, 0);
}
ul{
    /*o list style é como um enfeite de textos nesse caso ele foi usado para retirar a bolinha da lista ordenada*/
    list-style: none;
    /*o padding é margin pra coisa q n é texto*/
    padding-top: 20px;
}
li{
    
    /*para colocar a lista na mesma linha,é necessario usar o display inline, caso contrario ele ficara um abaixo do outro*/
    display: inline;
    padding-left: 25px;
}
li a{
    color:#00FFFF;
    text-decoration: none;
    font-size: 20px;
}
p{
    padding: 10px;
    /*o justificado seria uma linha debaixo da outra, todas alinhadas*/
    text-align: justify;

}


.left{
    /*aqui o width é usado para definir a largura do div*/
    width: 35%;
    /*aqui o height foi usado para definir aq altura da div*/
    height: 700px;
    /*Background foi usado para definir a cor de fundo do div*/
    background-color: rgb(255, 255, 255);
    margin-left:10%;
    border: 30px rgb(255, 255, 255) solid;
    float:left;
    margin-top:100px;
}

.right{
    width: 35%;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.979);
    border: 30px rgb(255, 255, 255) solid;
    /*border foi usado para mexer na borda da cor ou estrutura*/
    float: right;
    /*o margin right serve para alinhar a margem direita*/
    margin-right:10% ;
    margin-top: 100px;
}

.top{
    width:100%;
    float: center;
    background-color:white;
    margin-top:90px;
}